# Server Configuration
PORT=5001
NODE_ENV=development

# Database Configuration
# MongoDB connection URI (Atlas or local instance)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/chatchat?retryWrites=true&w=majority

# Security Configuration
# Secret key used for signing JSON Web Tokens (JWT)
JWT_SECRET=your_jwt_secret_key_here

# Cloudinary Integration (For profile picture & image messages storage)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
